<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-dark">
	<div class="container-xl">
		<div class="navbar-nav-scroll navbar-nav">
			<span class="text-white nav-item"><a href="/is_lt_7361/" class="nav-link">Introduction to Digital Media (ISLT 7361)</a></span>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
				<a class="nav-link" href="{{ "/project-1" | relative_url}}">Project 1</a>
				</li>
			</ul>
			</div>
		</nav>
	</div>
</header>
<div class="jumbotron jumbotron-fluid">
	<div class="container-xl">
	  <h1 class="display-4">{{page.title}}</h1>
	  <p class="lead">by {{page.author}}</p>
	</div>
</div>    