---
layout: default
---
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Assignments</h2>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="{{ "/project-1" | relative_url}}">Project 1 - Digital Image</a>
            <a class="list-group-item list-group-item-action" href="{{ "/project-2" | relative_url}}">Project 2 - Digital Audio</a>
            <a class="list-group-item list-group-item-action" href="{{ "/project-3" | relative_url}}">Project 3 - Digital Video</a>
            <a class="list-group-item list-group-item-action" href="{{ "/project-4" | relative_url}}">Final Project</a>
        </div>
    </div>
</div>